* {
	margin:0; padding:0;
}

#main { 
	margin:0 auto;
	width:647px;
}

#maincanvas {
	border: 0px solid #222;
	cursor: pointer;
	margin: 0 auto;
	/* z-index: 1; */
}

.scretch {
	position: relative;
	margin-bottom: 50px;
	/* border: 2px dotted brown; */
}

.promo {
	position: absolute;
	display: inline-block;
	top: 18%;
	left: 7%;
	font-size: 1.4em;
	color: #fdeded;
	z-index: 0;
	margin-top: 50px;
}
  